In [63]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

#HYPOTHESIS D
Ho: Proportion of Domestic Students who use Cloud Deakin to meet new people is the same as international students
H1: Proportion of Domestic Students who use Cloud Deakin to meet new people is different than International Students.

In [71]:
m=pd.read_excel('C:/Users/god\'s pride/Desktop/MIS779/dataset used/data all.xlsx','Sheet2')

In [49]:
m['new']=m['Q11.4: I met new people when using the CloudDeakin system']
m['new']=m.new.replace({(1,2,3):'No',(4,5,6):'Yes'})

In [56]:
crss=pd.crosstab(m['new'],m['Domestic or International Student'])
crss

Domestic or International Student,A domestic student,An international student
new,,
No,299,60
Yes,169,96

In [57]:
n=crss['A domestic student'].sum()
prop=crss['A domestic student']['Yes']/n
prop

0.6388888888888888

In [60]:
n2=crss['An international student'].sum()
prop2=crss['An international student']['Yes']/n2
prop2

0.6153846153846154

In [64]:
se_domestic=np.sqrt(prop*(1-prop)/n)
se_international=np.sqrt(prop2*(1-prop2)/n2)

In [65]:
se_diff=np.sqrt(se_domestic**2+se_international**2)

In [67]:
d=prop2-prop

In [104]:
uci=d+1.96*(se_diff)
lci=d-1.96*(se_diff)
(lci,uci)

(-0.11138115872359677, 0.06437261171504993)

In [ ]:
#Since, 0 lies in the above confidence interval 
#we can accept the null hypothesis